<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>COACH</title>
	<meta charset="utf-8">
	<meta name="ctx" content="{{req.contextPath}}/">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{>fragments/css}}

    <link rel="stylesheet" href="/node_modules/jquery-ui-dist/jquery-ui.css">
    <link rel="stylesheet" href="{{req.contextPath}}/webjars/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{{req.contextPath}}/css/coach.css?v=3">
    
	{{! Page-specific stylesheets can be specified in the view model }}
	{{#pageStyles}}
	<link rel="stylesheet" href="{{req.contextPath}}/css/{{.}}">
	{{/pageStyles}}

    <script type="text/javascript" src="{{req.contextPath}}/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{req.contextPath}}/node_modules/jquery-ui-dist/jquery-ui.js"></script>
    <script type="text/javascript" src="{{req.contextPath}}/js/coach.js"></script>

    // adapted from https://stackoverflow.com/questions/667555/how-to-detect-idle-time-in-javascript
    <script type="text/javascript">
        const IDLE_TIMEOUT_SECONDS = {{idleTimeoutSeconds}};
        const IDLE_WARNING_COUNTDOWN_SECONDS = 60;
        const IDLE_WARNING_APPEAR_SECONDS = IDLE_TIMEOUT_SECONDS - IDLE_WARNING_COUNTDOWN_SECONDS;

        if (IDLE_TIMEOUT_SECONDS > 0) {
            // adapted from https://www.w3schools.com/howto/howto_js_countdown.asp
            function startLastMinuteTimer(el, secondsStart) {
                let s = secondsStart;
                $(el).html(s);
                return setInterval(function() {
                    if (s <= 0) {
                        window.location.replace("/inactivityLogout");
                    } else {
                        s -= 1;
                        $(el).html(s);
                    }
                }, 1000);
            }

            // adapted from https://stackoverflow.com/questions/667555/how-to-detect-idle-time-in-javascript
            function setupIdleLogout() {
                window.onload = resetTimer;
                window.onmousemove = resetTimer;
                window.onmousedown = resetTimer;    // catches touchscreen presses as well
                window.ontouchstart = resetTimer;   // catches touchscreen swipes as well
                window.ontouchmove = resetTimer;    // required by some devices
                window.onclick = resetTimer;        // catches touchpad clicks as well
                window.onkeydown = resetTimer;
                window.addEventListener('scroll', resetTimer, true); // improved; see comments

                let x;
                function showFinalCountdown() {
                    $("#timeoutCountdownContainer").show(function() {
                        x = startLastMinuteTimer('#timeoutCountdownSeconds', IDLE_WARNING_COUNTDOWN_SECONDS);
                    });
                }

                let t;
                function resetTimer() {
                    clearTimeout(t);
                    t = setTimeout(showFinalCountdown, IDLE_WARNING_APPEAR_SECONDS * 1000);
                }

                $(document).on('click', '#continueSession', function() {
                    $('#timeoutCountdownContainer').hide(function() {
                        clearInterval(x);
                        resetTimer();
                    });
                });
            }
            setupIdleLogout();
        }
    </script>
    
    {{#pageScripts}}
	  {{! Page-specific scripts can be specified in the view model }}
	  <script type="text/javascript" src="{{req.contextPath}}/js/{{.}}"></script>
	{{/pageScripts}}

    {{#pageNodeScripts}}
	  {{! Page-specific scripts managed by node can be specified in the view model }}
	  <script type="text/javascript" src="{{req.contextPath}}/node_modules/inputmask/dist/{{.}}"></script>
    {{/pageNodeScripts}}
</head>
<body>
    <div id="timeoutCountdownContainer" class="modal">
        <div id="timeoutCountdown" class="modalContent">
            <div class="heading">Continue Session?</div>
            <div>You are about to be logged out due to inactivity.  Click the button below to continue your session.</div>
            <div><strong><span id="timeoutCountdownSeconds">SECONDS</span></strong> second(s) remaining ...</div>
            <div class="buttonContainer">
                <button id="continueSession" class="btn btn-sm button-primary">Continue Session</button>
            </div>
        </div>
    </div>

    <header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bgd-primary">
			<div class="container-fluid">
				<img src="/images/coach-logo.png" alt="COACH" class="navbar-brand logo"/>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbar_collapse" aria-controls="navbar_collapse"
					role="button" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar_collapse">
					<ul class="navbar-nav me-auto">
						<li class="nav-item"><a class="nav-link" href="{{req.contextPath}}/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{req.contextPath}}/goals">Goals</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{req.contextPath}}/vitals">Home BP Readings</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{req.contextPath}}/medications">My Medications</a></li>
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Resources
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="{{req.contextPath}}/symptoms-911">Emergency Symptoms</a></li>
								<li><a class="dropdown-item" href="{{req.contextPath}}/side-effects">Side Effects to Report</a></li>
								<li><hr class="dropdown-divider"></li>
								<h6 class="px-1">Counseling</h6>
								<li><a class="dropdown-item" href="{{req.contextPath}}/counseling/diet">Diet</a></li>
								<li><a class="dropdown-item" href="{{req.contextPath}}/counseling/weight-loss">Weight Loss</a></li>
								<li><a class="dropdown-item" href="{{req.contextPath}}/counseling/physical-activity">Physical Activity</a></li>
								<li><a class="dropdown-item" href="{{req.contextPath}}/counseling/smoking-cessation">Smoking Cessation</a></li>
								<li><a class="dropdown-item" href="{{req.contextPath}}/counseling/alcohol-moderation">Alcohol Moderation</a></li>
							</ul>
        				</li>
					</ul>
					<ul class="navbar-nav">
                        <li class="nav-item">
                            <a id="refresh" href="#" class="nav-link">Refresh</a>
                        </li>
						<li class="nav-item">
							<a class="nav-link" href="{{req.contextPath}}/logout"><span class="fa fa-power-off"></span> Log Out</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

    <main role="main" class="{{#mainClasses}}{{.}}{{/mainClasses}}{{^mainClasses}}container{{/mainClasses}}"></main>