.hidden, .hidden * {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    display: none;
}

#header {
    display: block;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#textInfoContainer {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 400px;
}

#chartContainer {
    display: inline-block;
    height: 435px;
    width: 800px;
}

#loadingChart {
    height: 400px;
    width: 800px;
}

#recommendationsContainer {
    display: block;
}

/*#recommendations {*/
/*    height: 20px;*/
/*}*/

#recommendationInfo {
    display: inline-block;
    margin: 5px;
}

div.recommendation {
    border: 1px solid black;
    padding: 5px;
}

span.recommendationTitle {
    display: block;
    font-weight: bold;
    font-size: large;
}

#cards {
    display: inline-block;
    margin: 5px;
}

div.card, div.card.info {
    display: block;
    border: 3px solid #33cc33;
    background-color: #ccffcc;
    padding: 5px;
}

div.card.warning {
    border: 3px solid #ff6600;
    background-color: #ffcc99;
}

div.card.hard-stop {
    border: 3px solid #ff0000;
    background-color: #ffaaaa;
}

span.cardTitle {
    display: block;
    font-weight: bold;
    font-size: large;
}

span.cardDetail {
    display: block;
    color: red;
    font-weight: bold;
}

#sliderContainer {
    margin-top: 5px;
    height: 25px;
    vertical-align: middle !important;
}

#sliderContainer * {
    display: inline-block;
    vertical-align: middle !important;
}

#sliderRangeFrom {
    margin-left: 37px;
    width: 40px;
    text-align: center;
}

#chartRangeSlider {
    margin-top: 3px;
    width: 600px;
}

#sliderRangeTo {
    width: 40px;
    text-align: center;
}

#avgBP {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}