.hidden, .hidden * {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    display: none;
}

.loading {
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
}

#header {
    display: block;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#textInfoContainer {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 400px;
}

#tabs {
    vertical-align: top;
    text-align: center;
    height: 25px;
    width: 200px;
}

.tab {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: 80px;
}

.tab.hover {
    cursor: pointer;
    background-color: #ddd;
}

.tab.selected {
    background-color: #ddd;
    border-bottom: none;
}

#tabData > div {
    vertical-align: top;
    height: 375px;
    width: 200px;
}

#detailsDiv {
    overflow-y: scroll;
}

#chartContainer {
    display: inline-block;
    height: 435px;
    width: 800px;
}

#loadingChart {
    height: 400px;
    width: 800px;
}

#hooksContainer {
    display: block;
}

#hooks {
    height: 20;
}

#plans {
    display: inline-block;
    margin: 5px;
}

div.plan {
    border: 1px solid black;
    padding: 5px;
}

span.planTitle {
    display: block;
    font-weight: bold;
    font-size: large;
}

#cards {
    display: inline-block;
    margin: 5px;
}

div.card, div.card.info {
    display: block;
    border: 3px solid #33cc33;
    background-color: #ccffcc;
    padding: 5px;
}

div.card.warning {
    border: 3px solid #ff6600;
    background-color: #ffcc99;
}

div.card.hard-stop {
    border: 3px solid #ff0000;
    background-color: #ffaaaa;
}

span.cardTitle {
    display: block;
    font-weight: bold;
    font-size: large;
}

span.cardDetail {
    display: block;
    color: red;
    font-weight: bold;
}

#sliderContainer {
    margin-top: 5px;
    height: 25px;
    vertical-align: middle !important;
}

#sliderContainer * {
    display: inline-block;
    vertical-align: middle !important;
}

#sliderRangeFrom {
    margin-left: 37px;
    width: 40px;
    text-align: center;
}

#chartRangeSlider {
    margin-top: 3px;
    width: 600px;
}

#sliderRangeTo {
    width: 40px;
    text-align: center;
}

#avgBP {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}