
#clearSupplementalData {
    color: red;
}

#legend {
    position: absolute;
    font-size: smaller;
}

#legend * {
    display: inline-block;
    vertical-align: middle;
}

div.chartKeyItem {
    font-size: .9em;
}

#chartKeyHomeBP {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

#chartKeyOfficeBP {
    width: 10px;
    height: 10px;
    background-color: black;
}

#chartKeySystolic {
    width: 25px;
    height: 10px;
    background-color: #007f6d;
}

#chartKeyDiastolic {
    width: 25px;
    height: 10px;
    background-color: #996124;
}

#chartKeyRecent {
    width: 25px;
    height: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #5B6B68;
}

#chartTimelineContainer {
    display: block;
    margin-top: 1.5em;
}

#chartTimelineContainer * {
    display: inline-block !important;
}

#chartTimelineContainer .button {
    font-size: 9pt;
    background-color: #ccc;
    border: 1px solid #555;
}

#chartTimelineContainer .button:not(.selected).hover {
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #00f;
}

#chartTimelineContainer .button.selected {
    background-color: #004466;
    color: white;
}

#chartContainer {
    display: inline-block;
}

#chartContainer .heading {
    font-size: medium;
}

#noChartData {
    position: relative;
}

#noChartData > div {
    font-size: x-large;
    font-weight: bold;
    color: lightgray;
}

#chart {
    position: relative;
    padding-bottom: 1.5em;
}

#currentBPGoal, #currentMedications, #adverseEvents, #omron {
    margin: 0.7em 0 0.7em 0;
}

.medication, .adverseEvent {
    font-weight: bold;
    font-style: italic;
}

#recommendationsContainer {
    padding: 0;
    width: 100%;
}

#avgPlaceholder {
    color:#b3d9ff;
}

#avgSystolic, #avgDiastolic {
    font-size: large;
    font-weight: bold;
}

#bpLabel, #bpGoalMetLabel {
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
}

#medicationsContainer {
    width: 200px;
    padding: 0 0 10px 10px;
    vertical-align: top;
    background-color: #f5f5f5;
}

#medicationsContainer .heading {
    background-color: #555;
    color: #fff;
    padding: 5px;
}

div.medication {
    max-width: 200px;
}

#prefetchModifiedInfo {
    display: block;
    background-color: #ffffcc;
    padding: 5px;
    font-size: small;
    font-style: italic;
}