#firstMeasurementContainer, #secondMeasurementContainer {
    display: inline-block;
}

#readingTimeContainer {
    width: 600px;
}

#showHideProtocol {
    font-weight: bold;
    color: #2e6da4;
}

#showHideProtocol.hover {
    cursor: pointer;
    text-decoration: underline;
}

#protocol {
    position: relative;
    margin: 10px auto 50px auto;
    border: 1px solid gray;
    background-color: #e6f7ff;
    padding: 10px;
    top: 20px;
    height: 500px;
    width: 800px;
}

#protocol > div > .heading {
    font-size: medium;
}

#protocol ul {
    margin-top: 5px;
    padding-left: 20px;
}

#protocol img {
    position: absolute;
    top: 100px;
    left: 230px;
    width: 400px;
}

#protocolSitUpright {
    position: absolute;
    top: 250px;
    left: 140px;
    width: 100px;
    font-size: small;
}

#protocolLegs {
    position: absolute;
    top: 465px;
    left: 330px;
    font-size: small;
}

#protocolBeforeMeasurement {
    position: absolute;
    top: 50px;
    left: 40px;
    font-size: small;
}

#protocolCuffUse {
    position: absolute;
    top: 50px;
    left: 570px;
    font-size: small;
}

#protocolMeasurements {
    position: absolute;
    top: 370px;
    left: 570px;
    font-size: small;
}