form {
    margin-bottom: 30px;
}

form > .label {
    display: block;
    margin: 20px 0 20px 0;
    max-width: 900px;
}

form .container {
    display: block;
    margin: 0 0 20px 50px;
    width: 300px;
}

form .container label {
    display: inline-block;
    width: 50px;
}

form .container input {
    margin-bottom: 5px;
    position: relative;
    width: 100px;
}

form .container input[type=radio] {
    width: 20px;
    margin: 0 50px 0 0;
}

#createButton {
    display: inline-block;
    margin-top: 20px;
}

#saveMessage {
    display: inline-block;
    margin-left: 10px;
}

.validationGroup.failsValidation .field.failsValidation {
    background-color: #ffcccc;
}