.link.hover {
    text-decoration: underline;
}

#updateBPGoal {
    display: inline-block;
}

#updateNote {
    display: inline-block;
}

.bpGoal {
    padding: 10px 0 10px 0;
    height: 60px;
}

.bpGoal .buttonContainer {
    margin-left: 20px;
}

.bpGoal > div {
    display: inline-block;
}


.button {
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    color: #fff;
    background-color: #2e6e9e;
}

.button * {
    font-size: medium;
}

input.systolic, input.diastolic {
    width: 40px;
}