/*#highBPSummary {*/
/*    !*position: absolute;*!*/
/*    !*top: 80px;*!*/
/*    !*left: 150px;*!*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*}*/


#legend {
    position: absolute;
    font-size: smaller;
    margin-left: 25px;
    margin-top: -4px;
}

#legend * {
    display: inline-block;
    vertical-align: middle;
}

div.chartKeyItem {
    font-size: 9pt;
    margin: 0 5px 0 5px;
}

#chartKeyHomeBP {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

#chartKeyOfficeBP {
    width: 10px;
    height: 10px;
    background-color: black;
}

#chartKeySystolic {
    width: 25px;
    height: 10px;
    background-color: #007f6d;
}

#chartKeyDiastolic {
    width: 25px;
    height: 10px;
    background-color: #996124;
}

#chartKeySystolicGoal {
    width: 25px;
    height: 10px;
    background-color: #ff0000;
}

#chartKeyDiastolicGoal {
    width: 25px;
    height: 10px;
    background-color: #ff00ff;
}

#chartTimelineContainer {
    position: absolute;
    right: 10px;
    display: block;
    text-align: right;
    margin-top: 4px;
}

#chartTimelineContainer * {
    display: inline-block !important;
}

#chartTimelineContainer .button {
    font-size: 9pt;
    padding: 2px;
    background-color: #ccc;
    border: 1px solid #555;
}

#chartTimelineContainer .button.hover {
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #00f;
}

#chartContainer {
    /*position: absolute;*/
    /*top: 80px;*/
    /*left: 200px;*/
    display: inline-block;
    height: 300px;
    width: 700px;
}

#chartContainer .heading {
    font-size: medium;
}

#chart {
    position: relative;
    top: 25px;
}

#currentBPGoal {
    text-align: center;
    padding: 10px;
}

#recommendationsContainer {
    padding: 0;
    width: 600px;
}

/*#sliderContainer {*/
/*    margin-top: 5px;*/
/*    height: 25px;*/
/*    vertical-align: middle !important;*/
/*}*/

/*#sliderContainer * {*/
/*    display: inline-block;*/
/*    vertical-align: middle !important;*/
/*}*/

/*#sliderRangeFrom {*/
/*    margin-left: 37px;*/
/*    width: 40px;*/
/*    text-align: center;*/
/*}*/

/*#chartRangeSlider {*/
/*    margin-top: 3px;*/
/*    width: 300px;*/
/*}*/

/*#sliderRangeTo {*/
/*    width: 40px;*/
/*    text-align: center;*/
/*}*/

#avgSystolic, #avgDiastolic {
    font-size: large;
    font-weight: bold;
}

#bpLabel {
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
}

#medicationsContainer {
    width: 200px;
    padding: 0 0 10px 10px;
    vertical-align: top;
    background-color: #f5f5f5;
}

#medicationsContainer .heading {
    background-color: #555;
    color: #fff;
    padding: 5px;
}

div.medication {
    max-width: 200px;
}