
#clearSupplementalData {
    color: red;
}

div.chartKeyItem {
    font-size: .9em;
}

.chartKeyBP {
    color: black;
}

.chartKeySystolic {
    color: #007f6d;
}

.chartKeyDiastolic {
    color: #996124;
}

.chartKeyRecent {
    color: #5B6B68;
}

#chartTimelineContainer {
    display: block;
    padding-top: 1em;
}

#chartTimelineContainer * {
    display: inline-block !important;
}

#chartTimelineContainer .btn {
    background-color: #ccc;
    border: 1px solid #555;
    color: black;
    margin-left: 0.5em;
}

#chartTimelineContainer .btn:not(.selected).hover {
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #00f;
    color: black;
}

#chartTimelineContainer .btn.selected {
    background-color: #004466;
    color: white;
}

#noChartData {
    position: relative;
}

#noChartData > div {
    font-size: x-large;
    font-weight: bold;
    color: lightgray;
}

#chart {
    position: relative;
    padding-bottom: 1.5em;
}

#currentBPGoal, #currentMedications, #adverseEvents, #omron {
    margin: 0.7em 0 0.7em 0;
}

.medication, .adverseEvent {
    font-weight: bold;
    font-style: italic;
}

#recommendationsContainer {
    padding: 0;
    width: 100%;
}

#bpPlaceholder {
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bold;
}

#systolic, #diastolic {
    font-size: large;
    font-weight: bold;
}

#bpLabel {
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
}

#bpNote {
    font-size: small;
    font-weight: bold;
}

#medicationsContainer {
    width: 200px;
    padding: 0 0 10px 10px;
    vertical-align: top;
    background-color: #f5f5f5;
}

#medicationsContainer .heading {
    background-color: #555;
    color: #fff;
    padding: 5px;
}

div.medication {
    max-width: 200px;
}

#prefetchModifiedInfo {
    display: block;
    background-color: #ffffcc;
    padding: 5px;
    font-size: small;
    font-style: italic;
}

.crisis {
    color: red;
}

img.bp-icon {
    width: 100px;
}

.alert-teal {
    background-color: #d5f8f4;
}

