.hidden, .hidden * {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    display: none !important;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

.heading {
    display: block;
    color: black;
    font-size: large;
    font-weight: bold;
}

span.circle, div.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#patientInfo {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid black;*/
}

table.content {
    border-spacing: 0;
    border-collapse: collapse;
}

table.content > tbody > tr > td.heading {
    background-color: #b3fff0;
    font-size: x-large;
    padding: 5px;
    width: 900px;
}

select {
    margin-bottom: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.field {
    display: inline-block;
}

.field.error {
    background-color: #ffe6e6;
}
