#highBPSummary {
    /*position: absolute;*/
    /*top: 80px;*/
    /*left: 150px;*/
    display: inline-block;
    width: 200px;
}

#chartContainer {
    /*position: absolute;*/
    /*top: 80px;*/
    /*left: 200px;*/
    display: inline-block;
    height: 300px;
    width: 500px;
}

#recommendationsContainer {
    padding: 0;
}

.recommendation {
    display: block;
    margin: 0;
}

.recommendation > .heading {
    background-color: #b3d9ff;
    font-size: large;
    margin: 2px 0 2px 0;
}

.recommendation > .description {
    font-style: italic;
    margin-bottom: 4px;
}

.cardsContainer {
    display: block;
    margin-left: 200px;
}

.card {
    display: block;
    border: 3px solid black;
    background-color: #ffffff;
    padding: 5px;
    margin: 2px 0 2px 0;
}

.card span {
    display: block;
}

.card.info {
    border: 3px solid #33cc33;
    background-color: #ccffcc;
}

.card.warning {
    border: 3px solid #ff6600;
    background-color: #ffcc99;
}

.card.hard-stop {
    border: 3px solid #ff0000;
    background-color: #ffaaaa;
}

span.summary {
    display: block;
    font-weight: bold;
}

.card.details {
    display: block;
    color: red;
    font-weight: bold;
}

#sliderContainer {
    margin-top: 5px;
    height: 25px;
    vertical-align: middle !important;
}

#sliderContainer * {
    display: inline-block;
    vertical-align: middle !important;
}

#sliderRangeFrom {
    margin-left: 37px;
    width: 40px;
    text-align: center;
}

#chartRangeSlider {
    margin-top: 3px;
    width: 300px;
}

#sliderRangeTo {
    width: 40px;
    text-align: center;
}

#avgSystolic, #avgDiastolic {
    font-size: large;
    font-weight: bold;
}

#bpLabel {
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
}