/*#highBPSummary {*/
/*    !*position: absolute;*!*/
/*    !*top: 80px;*!*/
/*    !*left: 150px;*!*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*}*/

#chartContainer {
    /*position: absolute;*/
    /*top: 80px;*/
    /*left: 200px;*/
    display: inline-block;
    height: 300px;
    width: 500px;
}

#goalNote {
    text-align: center;
    padding: 10px;
}

#recommendationsContainer {
    padding: 0;
}

#medicationsContainer {
    border: 1px solid gray;
}

#sliderContainer {
    margin-top: 5px;
    height: 25px;
    vertical-align: middle !important;
}

#sliderContainer * {
    display: inline-block;
    vertical-align: middle !important;
}

#sliderRangeFrom {
    margin-left: 37px;
    width: 40px;
    text-align: center;
}

#chartRangeSlider {
    margin-top: 3px;
    width: 300px;
}

#sliderRangeTo {
    width: 40px;
    text-align: center;
}

#avgSystolic, #avgDiastolic {
    font-size: large;
    font-weight: bold;
}

#bpLabel {
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
}