{{#layout}}
    {{#title}}Hypertension U18 App - Home Blood Pressure Readings{{/title}}
    {{#head}}
        <!-- datetimepicker: https://www.jqueryscript.net/time-clock/Clean-jQuery-Date-Time-Picker-Plugin-datetimepicker.html -->
        <script type="text/javascript" src="js/jquery-ui-1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="js/jquery-ui-1.12.1/jquery-ui.css" />

        <script type="text/javascript" src="js/bp-readings.js"></script>
        <link rel="stylesheet" href="css/bp-readings.css" />

        <script type="text/javascript" src="js/tabs.js"></script>
        <link rel="stylesheet" href="css/tabs.css" />

        <script type="text/javascript">
            $(document).ready(function () {
                enableHover('#bpreadingsTable .link, #showHideProtocol');
                enableDatePicker('#readingDate');
                populateReadingTimesList('#readingTime');
                populateSelect('#systolic, #systolic2', '--Select Systolic--', 0, 300);
                populateSelect('#diastolic1, #diastolic2', '--Select Diastolic--', 0, 200);
                populateSelect('#pulse, #pulse2', '--Select Pulse--', 0, 200);
            });

            $(document).on('click', '#createButton', function() {
                if (validateForm('#bpEntryContainer form', '#saveMessage')) {
                    let systolic = $('#systolic').val();
                    let diastolic1 = $('#diastolic1').val();
                    let pulse = $('#pulse').val();
                    let systolic2 = $('#systolic2').val();
                    let diastolic2 = $('#diastolic2').val();
                    let pulse2 = $('#pulse2').val();

                    let readingDate = $('#readingDate').datepicker('getDate');
                    let time = $('#readingTime').val().split(':');
                    readingDate.setHours(time[0]);
                    readingDate.setMinutes(time[1]);

                    let confirm = $('input[type=radio][name=confirm]:checked').val() === 'yes';

                    createRecord(systolic, diastolic1, pulse, systolic2, diastolic2, pulse2, readingDate, confirm, function(list) {
                        $(list).each(function() {
                            appendRecordToTable(this);
                            resetForm('#bpEntryContainer form');

                            let el = $('#saveMessage');
                            $(el).removeClass();
                            $(el).addClass('success');
                            $(el).html("Record created successfully.");
                        });
                    });
                }
            });

            $(document).on('blur', '.field', function() {
                validateField(this);
            });

            $(document).on('click', '#showHideProtocol', function() {
                let el = $('#protocol');
                if ($(el).hasClass('hidden')) {
                    $(el).removeClass('hidden');
                    $(this).html('Hide Protocol');

                } else {
                    $(el).addClass('hidden');
                    $(this).html('Show Protocol');
                }
            });
        </script>
    {{/head}}
    {{#menuItems}}
        <li><a href="/">Patient Portal</a></li>
        <li><a href="/goals">My Goals</a></li>
        <li class="selected"><a href="/bp-readings">Home BP Readings</a></li>
        <li><a href="/preferences">My Preferences</a></li>
        <li><a href="/feedback">Provider Feedback</a></li>
    {{/menuItems}}
    {{#content}}
        <table class="content">
            <tr>
                <td id="patientInfo">
                    <table style="margin-left: 50px">
                        <tr>
                            <td rowspan="2">
                                <span class="circle" style="background-color: #b3fff0">&nbsp;</span>
                            </td>
                            <td colspan="2">
                                <span style="font-size: x-large">{{patient.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{patient.age}} years</td>
                            <td>{{patient.gender}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div id="tabs"></div>

        <div id="bpEntryContainer" class="tabData" data-label="Home Blood Pressure Entry">
            <table class="content">
                <tr>
                    <td class="heading">
                        Home Blood Pressure Readings
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/bp-readings/create">
                            <span class="label">
                                Please enter your blood pressure measurements below. If your blood pressure device also measures
                                your pulse rate, please enter those measurements as well.
                            </span>
                            <div id="firstMeasurementContainer" class="container">
                                <span class="heading">First Measurement</span>
                                <div class="field">
                                    <label for="systolic">SBP:</label>
                                    <input type="number" id="systolic" class="required" /> mm Hg<br/>
                                </div>
                                <div class="field">
                                    <label for="diastolic1">DBP:</label>
                                    <input type="number" id="diastolic1" class="required" /> mm Hg<br/>
                                </div>
                                <div class="field">
                                    <label for="pulse">Pulse:</label>
                                    <input type="number" id="pulse" class="required" /> bpm
                                </div>
                            </div>
                            <div id="secondMeasurementContainer" class="container">
                                <span class="heading">Second Measurement</span>
                                <div class="field">
                                    <label for="systolic2">SBP:</label>
                                    <input type="number" id="systolic2" /> mm Hg<br/>
                                </div>
                                <div class="field">
                                    <label for="diastolic2">DBP:</label>
                                    <input type="number" id="diastolic2" /> mm Hg<br/>
                                </div>
                                <div class="field">
                                    <label for="pulse2">Pulse:</label>
                                    <input type="number" id="pulse2" /> bpm
                                </div>
                            </div>
                            <span class="label">
                                Please enter the date and approximate time of these measurements:
                            </span>
                            <div id="dateContainer" class="container">
                                <div class="field">
                                    <label for="readingDate">Date:</label>
                                    <input id="readingDate" type="text" name="readingDate" placeholder="--Select Date--" readonly />
                                </div>
                            </div>
                            <div id="timeContainer" class="container">
                                <div class="field">
                                    <label for="readingTime">Time:</label>
                                    <select id="readingTime" name="readingTime">
                                    </select>
                                </div>
                            </div>
                            <span class="label">
                                Did you follow the below instructions when measuring your blood pressure?
                            </span>
                            <div id="confirmContainer" class="container">
                                <div class="field">
                                    <label for="confirmYes">Yes</label>
                                    <input id="confirmYes" type="radio" name="confirm" value="yes" />
                                    <label for="confirmNo">No</label>
                                    <input id="confirmNo" type="radio" name="confirm" value="no" />
                                </div>
                            </div>
                            <div>
                                <input id="createButton" type="button" value="Save" />
                                <span id="saveMessage" class="hidden"></span>
                            </div>
                        </form>
                        <div>
                            <span id="showHideProtocol">Show Protocol</span>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="protocol" class="hidden">
                <span class="heading">Recommended Home Blood Pressure Measurement Protocol</span>
                <img src="images/bp-reading-protocol.png" alt="BP Reading Protocol"/>
                <span id="protocolSitUpright">Sit upright with back support</span>
                <span id="protocolLegs">Keep legs uncrossed</span>
                <div id="protocolBeforeMeasurement">
                    <span class="heading">30 minutes before measurement:</span>
                    <ul>
                        <li>Do not smoke</li>
                        <li>Do not drink alcohol</li>
                        <li>Do not drink caffeine</li>
                        <li>Do not exercise</li>
                        <li>Try to use the bathroom</li>
                    </ul>
                </div>
                <div id="protocolCuffUse">
                    <span class="heading">Proper cuff use:</span>
                    <ul>
                        <li>Above the elbow</li>
                        <li>Level with your heart</li>
                        <li>On bare skin, <span style="text-decoration: underline;">not over clothing</span></li>
                        <li>Snug, but allow 2 fingers inside</li>
                    </ul>
                </div>
                <div id="protocolMeasurements">
                    <span class="heading">Measurements:</span>
                    <ul>
                        <li>Rest for 5 minutes<br/>
                            <span style="text-decoration: underline;">Do not talk or look at the phone</span>
                        </li>
                        <li>Record your measurement</li>
                        <li>Wait 1 minute</li>
                        <li>Repeat the measurement</li>
                        <li>If measurements are inconsistent, consider a third</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="historicalReadingsContainer" class="tabData hidden" data-label="Historical Readings">
            <table class="content">
                <tr>
                    <td class="heading">
                        Historical Home Blood Pressure Readings
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id="bpreadingsTable">
                            <tr id="bpreadingsTableHeader">
                                <th>Reading Timestamp</th>
                                <th>SBP (mm/Hg)</th>
                                <th>DBP (mm/Hg)</th>
                                <th>Pulse (bpm)</th>
                                <th>&nbsp;</th>
                            </tr>
                            {{! note : keep this section synced with bp-readings.js:appendRecordToTable(obj) }}
                            {{#bpreadings}}
                                <tr class='data' data-id='{{id}}' data-timestamp='{{readingDateTimestamp}}'>
                                    <td>{{readingDateString}}</td>
                                    <td>{{systolic}}</td>
                                    <td>{{diastolic}}</td>
                                    <td>{{pulse}}</td>
                                    <td><span class="link" onclick="deleteRecord({{id}})">Delete</span></td>
                                </tr>
                            {{/bpreadings}}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    {{/content}}
{{/layout}}