{{#layout}}
    {{#title}}Hypertension U18 App - Home Blood Pressure Readings{{/title}}
    {{#head}}
        <!-- datetimepicker: https://www.jqueryscript.net/time-clock/Clean-jQuery-Date-Time-Picker-Plugin-datetimepicker.html -->
        <script type="text/javascript" src="js/jquery-ui-1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="js/jquery-ui-1.12.1/jquery-ui.css" />

        <script type="text/javascript" src="js/bp-readings.js"></script>
        <link rel="stylesheet" href="css/bp-readings.css" />

        <script type="text/javascript">
            $(document).ready(function () {
                enableDatePicker('#readingDate');
                populateReadingTimesList('#readingTime');
                populateSelect('#systolic', '--Select Systolic--', 0, 300);
                populateSelect('#diastolic', '--Select Diastolic--', 0, 200);
            });

            $(document).on('click', '#createButton', function() {
                let systolic = $('#systolic').val();
                let diastolic = $('#diastolic').val();

                let timestamp = $('#readingDate').datepicker('getDate');
                let time = $('#readingTime').val().split(':');
                timestamp.setHours(time[0]);
                timestamp.setMinutes(time[1]);

                createRecord(systolic, diastolic, timestamp, function(obj) {
                    appendRecordToTable(obj);
                });
            });

        </script>
    {{/head}}
    {{#menuItems}}
        <li><a href="/">Patient Portal</a></li>
        <li><a href="/goals">My Goals</a></li>
        <li class="selected"><a href="/bp-readings">Home BP Readings</a></li>
        <li><a href="/feedback">Provider Feedback</a></li>
    {{/menuItems}}
    {{#content}}
        <table class="no-spacing">
            <tr>
                <td id="patientInfo">
                    <table style="margin-left: 50px">
                        <tr>
                            <td rowspan="2">
                                <span class="circle" style="background-color: #b3fff0">&nbsp;</span>
                            </td>
                            <td colspan="2">
                                <span style="font-size: x-large">{{patient.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{patient.age}} years</td>
                            <td>{{patient.gender}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="heading">
                    Home Blood Pressure Readings
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">Enter a Home Blood Pressure reading:</span>
                    <form action="/bp-readings/create">
                        <table>
                            <tr>
                                <td>Systolic:</td>
                                <td>
                                    <select id="systolic" name="systolic">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Diastolic:</td>
                                <td>
                                    <select id="diastolic" name="diastolic">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Reading Timestamp:</td>
                                <td>
                                    <input id="readingDate" type="text" name="readingDate" placeholder="--Select Date--" readonly />
                                    <select id="readingTime" name="readingTime">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    <input id="createButton" type="button" value="Save" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="heading">
                    Historical Home Blood Pressure Readings
                </td>
            </tr>
            <tr>
                <td>
                    <table id="bpreadingsTable">
                        <tr id="bpreadingsTableHeader">
                            <th>Measurement Timestamp</th>
                            <th>Systolic (mm/Hg)</th>
                            <th>Diastolic (mm/Hg)</th>
                            <th>&nbsp;</th>
                        </tr>
                        {{! note : keep this section synced with bp-readings.js:appendRecordToTable(obj) }}
                        {{#bpreadings}}
                            <tr class='data' data-timestamp='{{readingDateTimestamp}}'>
                                <td>{{readingDateString}}</td>
                                <td>{{systolic}}</td>
                                <td>{{diastolic}}</td>
                                <td><span class="link" onclick="deleteReading({{id}}">Delete</span></td>
                            </tr>
                        {{/bpreadings}}
                    </table>
                </td>
            </tr>
        </table>
    {{/content}}
{{/layout}}