{{#layout}}
    {{#title}}{{applicationName}} - Contact{{/title}}
    {{#head}}
        <script type="text/javascript" src="/js/form.js"></script>
        <link rel="stylesheet" href="/css/form.css" />

        <!--        <link rel="stylesheet" href="css/recommendations.css"/>-->
        <!--        <script type="text/javascript" src="js/recommendations.js"></script>-->

        <script type="text/javascript" src="/js/contact.js"></script>
        <link rel="stylesheet" href="/css/contact.css"/>

        <script type="text/javascript">
            $(document).ready(function () {
                enableHover('.button');
            });

            $(document).on('click', '#copyAndPaste', function() {
                setClipboard($('#message').val());
                $('#myChartInstructionsContainer').show();
            });

            $(document).on('click', '#closeInstructions', function() {
                $('#myChartInstructionsContainer').hide();
            })
        </script>
    {{/head}}
    {{#menuItems}}
        <li><a href="/">Patient Portal</a></li>
        <li><a href="/goals">My Goals</a></li>
        <li><a href="/bp-readings">Home BP Readings</a></li>
        <li><a href="/medications">My Medications</a></li>
        <li><a href="/preferences">My Preferences</a></li>
<!--        <li><a href="/feedback">Provider Feedback</a></li>-->
    {{/menuItems}}
    {{#content}}
        <table class="content">
            <tr>
                <td id="patientInfo">
                    <table style="margin-left: 50px">
                        <tr>
                            <td rowspan="2">
                                <span class="circle" style="background-color: #b3fff0">&nbsp;</span>
                            </td>
                            <td colspan="2">
                                <span style="font-size: x-large">{{patient.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{patient.age}} years</td>
                            <td>{{patient.gender}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table class="content">
            <tr>
                <td class="heading">
                    Contact
                </td>
            </tr>
            <tr>
                <td>
                    <div class="heading">Pre-Populated Note Based on Recommendations</div>
                    <div id="messageContainer">
                        <textarea id="message">{{message}}</textarea>
                        <div class="buttonContainer">
                            <div id="sendToEpic" class="button disabled">Send to Epic</div>
                            <div id="copyAndPaste" class="button">Copy and Paste</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div id="myChartInstructionsContainer" class="modal">
            <div id="myChartInstructions" class="modalContent">
                <div class="heading">Message Copied!  Next Steps:</div>
                <ol>
                    <li>Log into MyChart (<a href="{{mychartLoginLink}}" target="_blank">direct link</a>)</li>
                    <li>Go to the Messages activity, click "Ask a Question," then select "Contact my Doctor's Office" (<a href="{{mychartMessageLink}}" target="_blank">direct link</a>)</li>
                    <li>Select the Care Team member that gave you access to this Application</li>
                    <li>Specify an appropriate Subject</li>
                    <li>Paste (Ctrl-V, or right-click and select "Paste") this message into the MyChart message text-area</li>
                    <li>Review the message, and edit as desired</li>
                    <li>When everything looks complete and correct, click "Send"</li>
                </ol>
                <div class="buttonContainer">
                    <div id="closeInstructions" class="button">Close</div>
                </div>
            </div>
        </div>
    {{/content}}
{{/layout}}