{{>layout/header}}

<div class="container">
    <object data="{{pdfUrl}}" type="application/pdf" width="100%" height="500px">
        <p>Unable to display PDF.  <a href="{{pdfUrl}}">Click here</a> to download it instead.</p>
    </object>
</div>

{{>layout/footer}}