<html>
<head>
    {{>fragments/css}}
    <title>{{applicationName}} - End of Study</title>
</head>
<body>
<div class="container">
    <div class="mt-3">
        <h2>End of Study</h2>
        {{#endOfStudyMessage}}
            <p>{{{endOfStudyMessage}}}</p>
        {{/endOfStudyMessage}}
        {{^endOfStudyMessage}}
            <p>Thank you for participating in the COACH study.  Your participation in the study has now concluded.</p>
        {{/endOfStudyMessage}}
    </div>
</div>
</body>
{{>fragments/assets}}
</html>