<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            sessionStorage.clear(); // clear the browser session just in case there's anything there
        });
    </script>
</head>
<body style="font-size:1.5em;">
Something went wrong.  Please check server logs for details.
</body>
</html>