{{>layout/header}}

<div class="container">
    <div class="mt-3">
        <h4 class="p-2 bgd-secondary"><i class="fas fa-question-circle color-primary"></i>&nbsp;COACH FAQ's</h4>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqContactCollapse" aria-expanded="false" aria-controls="faqContactCollapse">
                How do I contact the study team?
                </button>
            </h2>
            <div id="faqContactCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>If there are any issues or concerns that persist after reading the FAQ sheet, please contact us:</p>
                    <ul style="list-style: none;">
                        <li>COACH-OHSU@ohsu.edu</li>
                        <li>Toll free number: 833-462-9191</li>
                    <ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqWhatCollapse" aria-expanded="false" aria-controls="faqWhatCollapse">
                What is the COACH application?
                </button>
            </h2>
            <div id="faqWhatCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                The COACH application is a web-based application designed to help you manage high blood pressure through personalized recommendations and support.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqWhoCollapse" aria-expanded="false" aria-controls="faqWhoCollapse">
                Can anybody use COACH?
                </button>
            </h2>
            <div id="faqWhoCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                The COACH application is limited to patients enrolled in the study and recommended by their doctors.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqRangeCollapse" aria-expanded="false" aria-controls="faqRangeCollapse">
                When my BP is too low or too high, where can I get more information?
                </button>
            </h2>
            <div id="faqRangeCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul style="list-style: none;">
                        <li>Readings of less than 90/60 mmHg are considered low.</li>
                        <li>Readings of 180/120 mmHg or greater are considered high.</li>
                        <li><a href="https://www.heart.org/en/health-topics/high-blood-pressure/the-facts-about-high-blood-pressure">American Heart Association BP guidelines</a></li>
                    <ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqVoluntaryCollapse" aria-expanded="false" aria-controls="faqVoluntaryCollapse">
                Is my participation in the COACH study voluntary?
                </button>
            </h2>
            <div id="faqVoluntaryCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                Yes, participation is entirely voluntary. You can choose to withdraw at any time and for any reason without any impact on your regular blood pressure management by contacting the study team.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqFrequencyCollapse" aria-expanded="false" aria-controls="faqFrequencyCollapse">
                How often should I use the COACH app to monitor my blood pressure?
                </button>
            </h2>
            <div id="faqFrequencyCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                During the first 2-4 weeks of enrollment, we recommend obtaining ≥12 measurements to obtain an average BP reading.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqInteractionCollapse" aria-expanded="false" aria-controls="faqInteractionCollapse">
                Will the COACH app interact with my healthcare team?
                </button>
            </h2>
            <div id="faqInteractionCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                Yes, the COACH app is designed to work collaboratively with your healthcare team. The app may provide guidance or recommendations to contact your care team depending on your BP readings.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccessCollapse" aria-expanded="false" aria-controls="faqAccessCollapse">
                Can I access the COACH app from anywhere?
                </button>
            </h2>
            <div id="faqAccessCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                You can access the COACH app from your mobile device with a Wi-Fi or data connection, allowing you to manage your blood pressure wherever you are.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqLengthCollapse" aria-expanded="false" aria-controls="faqLengthCollapse">
                How long will I be part of the COACH study?
                </button>
            </h2>
            <div id="faqLengthCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                Your participation in the study will last for six months. During this time, you will be regularly monitored, and you will have opportunities to provide feedback on your experience through surveys.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqConfidentialityCollapse" aria-expanded="false" aria-controls="faqConfidentialityCollapse">
                Will my personal information and data be kept confidential?
                </button>
            </h2>
            <div id="faqConfidentialityCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                Yes, your privacy is a priority. Your personal information and data will be de-identified and handled in accordance with privacy regulations.
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <h4 class="p-2 bgd-secondary"><i class="fas fa-hard-hat color-primary"></i>&nbsp;Technical Help</h4>
    </div>
    <div class="accordion" id="accordionTechnical">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqMobileCollapse" aria-expanded="false" aria-controls="faqMobileCollapse">
                Can I use the COACH app on any smartphone or tablet?
                </button>
            </h2>
            <div id="faqMobileCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionTechnical">
                <div class="accordion-body">
                The COACH app is compatible with most smartphones and tablets (iOS and android).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqOmronCollapse" aria-expanded="false" aria-controls="faqOmronCollapse">
                How do I connect the COACH app to my blood pressure monitor?
                </button>
            </h2>
            <div id="faqOmronCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionTechnical">
                <div class="accordion-body">
                You will first need to install the OMRON application onto your device and make sure your Bluetooth connection is turned on and your device is Bluetooth compatible.
                Once you have collected some blood pressures, you can use your OMRON login information inside
                COACH to transfer the data. Your Welcome Packet includes the OMRON manual where you can find Bluetooth connection instructions and other information. 
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqIncorrectCollapse" aria-expanded="false" aria-controls="faqIncorrectCollapse">
                What should I do if the COACH app is not displaying my blood pressure readings correctly?
                </button>
            </h2>
            <div id="faqIncorrectCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionTechnical">
                <div class="accordion-body">
                <p>If you encounter inaccuracies, we recommend following the steps below:</p>
                <ol>
                    <li>Troubleshoot your BP monitor with the Omron Manual.</li>
                    <li>Make sure your BP cuff is syncing to the COACH application properly.</li>
                    <li>Take your BP cuff to your care team to have it validated by a professional.</li>
                </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed thick" type="button" data-bs-toggle="collapse" data-bs-target="#faqFreezeCollapse" aria-expanded="false" aria-controls="faqFreezeCollapse">
                What should I do if the COACH app crashes or freezes?
                </button>
            </h2>
            <div id="faqFreezeCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionTechnical">
                <div class="accordion-body">
                <p>If the app is not working correctly, we recommend following the steps below:</p>
                <ol>
                    <li>Try restarting your device.</li>
                    <li>Try restarting the application.</li>
                    <li>Contact our study team if problems persist.</li>
                </ol>
                </div>
            </div>
        </div>
    </div>

</div>

{{>layout/footer}}