<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{applicationName}} - Completing Handshake</title>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/fhirclient/build/fhir-client.js"></script>
    <script type="text/javascript">
        const REDIRECT_URL = "/";
        const PATIENT_NOT_CONSENTED_RESPONSE = "{{patientNotConsentedResponse}}";
        const PATIENT_NOT_CONSENTED_ENDPOINT = "{{patientNotConsentedEndpoint}}";

        function prepareSession(client) {
            let data = {
                clientId: client.state.clientId,
                serverUrl: client.state.serverUrl,
                bearerToken: client.state.tokenResponse.access_token,
                patientId: client.getPatientId(),
                userId: client.getUserId()
            };

            // alert("useful development breakpoint");

            $.ajax({
                method: "POST",
                url: "/prepare-session",
                data: data
            }).done(function(body, textStatus, jqXHR) {
                // alert("useful debug checkpoint");
                if (jqXHR.status === 200) {
                    if (body === PATIENT_NOT_CONSENTED_RESPONSE) {
                        window.location.replace(PATIENT_NOT_CONSENTED_ENDPOINT);
                    } else {
                        $('.response').html("Handshake completed, redirecting ...<br/>If you are not redirected, please <a href='" + REDIRECT_URL + "'>click here</a>.")
                        window.location.replace(REDIRECT_URL);
                    }
                } else {
                    $('.response').html("Error - received response " + jqXHR.status + " status");
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                try {
                    let response = JSON.parse(jqXHR.responseText);
                    $('.response').html("Error " + jqXHR.status + ": " + (response.message ? response.message : "An error occurred. Try again later or contact study staff."));
                } catch (e) {
                    $('.response').html("Error " + jqXHR.status + ": An error occurred. Try again later or contact study staff.");
                }
            });
        }

        // see the following for FHIR API documentation:
        // - https://github.com/smart-on-fhir/client-js/blob/master/dist/build/fhir-client.js
        // - http://docs.smarthealthit.org/client-js/
        // - http://docs.smarthealthit.org/client-js/api.html
        // - http://docs.smarthealthit.org/client-js/client.html
        // - http://docs.smarthealthit.org/client-js/request.html

        $(document).ready(function () {
            FHIR.oauth2.ready(function (client) {
                if ( ! {{cacheCredentials}} ) {
                    sessionStorage.clear(); // flush credentials stored here by SMART on FHIR
                }
                prepareSession(client);
            });
        });
    </script>
</head>
<body>
<div class="response" style="font-size:1.5em;">
Completing handshake...
</div>
</body>
</html>