<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{applicationName}} - Completing Handshake</title>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/fhirclient/build/fhir-client.js"></script>
    <script type="text/javascript">
        const REDIRECT_URL = "/";

        function prepareSession(client) {
            let data = {
                clientId: client.state.clientId,
                serverUrl: client.state.serverUrl,
                bearerToken: client.state.tokenResponse.access_token,
                patientId: client.getPatientId(),
                userId: client.getUserId(),
                audience: "patient"
            };

            // alert("useful development breakpoint");

            $.ajax({
                method: "POST",
                url: "/prepare-session",
                data: data
            }).done(function(cards, textStatus, jqXHR) {
                if (jqXHR.status === 200) {
                    $('body').html("Handshake completed, redirecting ...<br/>If you are not redirected, please <a href='" + REDIRECT_URL + "'>click here</a>.")
                    window.location.replace(REDIRECT_URL);

                } else {
                    $('body').html("Error - received response " + response.status + " status");
                }
            });
        }

        // see the following for FHIR API documentation:
        // - https://github.com/smart-on-fhir/client-js/blob/master/dist/build/fhir-client.js
        // - http://docs.smarthealthit.org/client-js/
        // - http://docs.smarthealthit.org/client-js/api.html
        // - http://docs.smarthealthit.org/client-js/client.html
        // - http://docs.smarthealthit.org/client-js/request.html

        $(document).ready(function () {
            FHIR.oauth2.ready(function (client) {
                if ( ! {{cacheCredentials}} ) {
                    sessionStorage.clear(); // flush credentials stored here by SMART on FHIR
                }
                prepareSession(client);
            });
        });
    </script>
</head>
<body>
Completing handshake...
</body>
</html>