{{#layout}}
    {{#title}}{{applicationName}} - Goals{{/title}}
    {{#head}}
        <script type="text/javascript" src="/js/form.js"></script>
        <link rel="stylesheet" href="/css/form.css" />

<!--        <link rel="stylesheet" href="css/recommendations.css"/>-->
<!--        <script type="text/javascript" src="js/recommendations.js"></script>-->

        <script type="text/javascript" src="/js/goals.js"></script>
        <link rel="stylesheet" href="/css/goals.css"/>

        <script type="text/javascript">
            $(document).ready(function() {
                loadOtherGoals(function(otherGoals) {
                    window.otherGoals = otherGoals;
                    populateOtherGoals();
                });
            });
        </script>
    {{/head}}
    {{#menuItems}}
        <li><a href="/">Patient Portal</a></li>
        <li class="selected"><a href="/goals">My Goals</a></li>
        <li><a href="/bp-readings">Home BP Readings</a></li>
        <li><a href="/medications">My Medications</a></li>
        <li><a href="/preferences">My Preferences</a></li>
<!--        <li><a href="/feedback">Provider Feedback</a></li>-->
    {{/menuItems}}
    {{#content}}
        <table class="content">
            <tr>
                <td id="patientInfo">
                    <table style="margin-left: 50px">
                        <tr>
                            <td rowspan="2">
                                <span class="circle" style="background-color: #b3fff0">&nbsp;</span>
                            </td>
                            <td colspan="2">
                                <span style="font-size: x-large">{{patient.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{patient.age}} years</td>
                            <td>{{patient.gender}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        {{#bpGoal}}
            <table id="bpContent" class="content">
                <tr>
                    <td class="heading">
                        My Blood Pressure Goal
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="bpGoal" data-systolic="{{systolicTarget}}" data-diastolic="{{diastolicTarget}}">
                            <div>
                                My current Blood Pressure goal is:
                                <input type='text' class='systolic' placeholder='Systolic' value="{{systolicTarget}}" />
                                /
                                <input type='text' class='diastolic' placeholder='Diastolic' value="{{diastolicTarget}}" />
                            </div>
                            <div class="buttonContainer">
                                <div id="updateBPGoal" class="button disabled">Update</div>
                                <div id="updateNote"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        {{/bpGoal}}

        {{#hasOtherGoals}}
            <table class="content">
                <tr>
                    <td class="heading">
                        My Other Goals
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- blue boxes on the left, histories on the right -->
                        <div id="otherGoalsContainer">

                        </div>
                    </td>
                </tr>
            </table>
        {{/hasOtherGoals}}
    {{/content}}
{{/layout}}