{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>
<div id="randomizationGroup" class="hidden">{{randomizationGroup}}</div>
<div id="LOESSBandwidth" class="hidden">{{loessBandwidth}}</div>

<div class="container">
    {{#enrollmentBanner}}
    <div class="alert alert-danger" role="alert">
    Note: The patient is not currently enrolled in the COACH study.
    </div>
    {{/enrollmentBanner}}

    <div class="px-2 d-flex justify-content-between">
        <span class="fs-4"><i class="fas fa-user color-primary"></i>&nbsp;<strong>{{patient.name}}</strong> - {{patient.age}} years {{patient.gender}}</span>
        {{#showClearSupplementalData}}
        <span id="clearSupplementalData" class="link">Clear Supplemental Data</span>
        {{/showClearSupplementalData}}
    </div>

    <div class="mt-3">
        <h4 class="p-2 bgd-secondary">
            <i class="fas fa-file-medical-alt color-primary"></i> High Blood Pressure Control
        </h4>
        <div class="container">
            <div class="row">
                <div id="bpIndicatorContainer" class="col-12 col-md-4 col-lg-3 align-self-center">
                    <div class="text-center" style="font-weight: bold;">Your blood pressure:</div>
                    <table class="table table-borderless mt-4 mx-auto w-auto">
                        <tr>
                            <td>
                                <div id="bpPlaceholder">
                                </div>
                                <div id="bpContainer" style="display:none">
                                    <table style="text-align:center">
                                        <tr>
                                            <td>
                                                <div id="bpIcon" class="tip">
                                                </div>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td colspan="3">
                                                            <span id="bpLabel"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td id="systolic">X</td>
                                                                    <td style="font-size: small; padding-left: 5px">systolic</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2"><hr style="border-top:2px solid black"/></td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="diastolic">Y</td>
                                                                    <td style="font-size: small; padding-left: 5px">diastolic</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span id="bpNote"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="chartContainer" class="col-12 col-md-8 col-lg-9">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div id="loadingChart">Loading Chart ...</div>
                            </div>
                        </div>
                        <div id="chartKeyContainer" class="row justify-content-center hidden" style="font-size:0.85em;">
                            <div class="col-md-0 col-lg-1"></div>
                            <div class="col-md-1 col-lg-auto">
                                <span class="fw-bold">Key</span>
                            </div>
                            <div class="col-md-auto">
                                <i class="fas fa-square chartKeyBP"></i> Home BP
                             </div>
                            <div class="col-md-auto">
                                <i class="fas fa-circle chartKeyBP"></i> Office BP
                            </div>
                            <div class="col-md-auto">
                                <i class="fas fa-square chartKeySystolic"></i> Systolic BP
                            </div>
                            <div class="col-md-auto">
                                <i class="fas fa-square chartKeyDiastolic"></i> Diastolic BP
                            </div>
                            <div class="col-md-auto">
                                <i class="far fa-square chartKeyRecent"></i> Data used in BP Avg
                            </div>
                            <div class="col-md-0 col-lg-1"></div>
                        </div>
                        <div class="row mt-1">
                            <div class="col offset-sm-3 offset-md-4" style="font-size:0.85em;">
                                <div id="chartTimelineContainer" class="hidden">
                                    <span>Timeline</span>
                                    <button class="btn btn-secondary btn-sm" data-window="mr">Recent</span>
                                    <button class="btn btn-secondary btn-sm" data-window="1y">1 year</span>
                                    <button class="btn btn-secondary btn-sm selected" data-window="all">All</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">
                                <div id="noChartData" class="hidden">
                                    <div>No Data</div>
                                </div>
                                <canvas id="chart" class="hidden" width="100%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="omron">
            {{#omronAuthRequestUrl}}
                <div class="alert alert-warning" role="alert">
                    <span id="omronAuthLink" class="link" data-target="{{omronAuthRequestUrl}}">Click here</span> to authenticate and synchronize with Omron.
                </div>
            {{/omronAuthRequestUrl}}
            {{#omronSynchronizing}}
                <div class="alert alert-warning" role="alert">
                    Omron data is synchronizing. Continue to use COACH as normal, but don't log out.
                </div>
            {{/omronSynchronizing}}
            {{#omronLastUpdated}}
                <div class="alert alert-teal" role="alert">
                    Omron data last synchronized <em>{{omronLastUpdated}}</em>
                </div>
            {{/omronLastUpdated}}
        </div>
        <div id="currentBPGoal" data-systolic="{{bpGoal.systolicTarget}}" data-diastolic="{{bpGoal.diastolicTarget}}">
            Your Current Blood Pressure Goal: <em><strong>Below {{bpGoal.systolicTarget}} /
            {{bpGoal.diastolicTarget}}</strong></em> (<a href="/goals">update</a>)
        </div>
        <div id="currentMedications">
        </div>
        <div id="adverseEvents"></div>

    </div>

    <h4 class="mt-3 p-2 bgd-secondary">
        <i class="fas fa-clipboard-list color-primary"></i> Recommendations
    </h4>

    <div id="prefetchModifiedInfo" class="hidden">
        <strong>Note:</strong> Source patient data contained one or more problematic characters that needed to be converted
        before being sent to the recommendation engine.  Instances of these characters have been replaced
        with the question mark character ("<strong>?</strong>")
    </div>

    <div id="recommendationsContainer">
        {{#cdshooks}}
            <div class="recommendation" data-id="{{id}}">
                <div class="heading">{{title}}</div>
                <div class="cardsContainer">
                    Loading...
                </div>
            </div>
        {{/cdshooks}}
    </div>

    {{#aeSurveyLink}}
    <div class="mt-3">
        <h4 class="p-2 bgd-secondary">
            <i class="fas fa-exclamation-circle color-primary"></i> Report Potential Side Effects Associated with Blood Pressure Management
        </h4>
        <p>
        A few key side effects are often related to hypertension treatment. Click for <a href="{{req.contextPath}}/side-effects">complete list</a>. 
        Please make sure to talk to your doctor if you have these conditions or if you are concerned about your blood pressure. 
        You can also inform the study team through this <a href="{{aeSurveyLink}}" target="_blank">link</a>.
        </p>
        <p>
        Whenever you visit the emergency department or stay in the hospital, please let your doctor <strong>and</strong> the study team know, 
        as we need to monitor certain events as part of the study.
        </p>
    </div>
    {{/aeSurveyLink}}

</div>

<script type="text/javascript">
    function loadChart() {
        loadBloodPressureObservations(function(bpdata) {
            window.bpdata = bpdata;
            window.bpchart = {};
            window.bpchart.data = window.bpdata;

            populateSummaryDiv();
            buildChart();
        });
    }

    $(document).on('click', '#chartTimelineContainer > .btn:not(.selected)', function() {
        window.bpchart = {};

        let type = $(this).attr('data-window');
        // The start date of the BP set used to calculate average
        const bpSetStartDate = getBPSetStartDate(window.bpdata);
        window.bpchart.bpSetStartDate = bpSetStartDate;
        if (type === 'all') {
            window.bpchart.data = window.bpdata;
        } else {
            let startDate = new Date();
            let endDate = new Date();

            if (type === 'mr') {
                if (bpSetStartDate) {
                    startDate = bpSetStartDate;
                } else {
                    // Fall back to showing 2 months if there is no set
                    startDate.setMonth(startDate.getMonth() - 2);
                }
                startDate.setHours(0, 0, 0);
                endDate.setHours(23, 59, 59);

            } else if (type === '1y') {
                startDate.setFullYear(startDate.getFullYear() - 1);
                startDate.setHours(0, 0, 0);
                endDate.setHours(23, 59, 59);
            }
            window.bpchart.data = truncateData(window.bpdata, startDate);
            window.bpchart.startDate = startDate;
            window.bpchart.endDate = endDate;
        }

        populateSummaryDiv();
        updateChart();

        $('#chartTimelineContainer').find('.btn').each(function() {
            if ($(this).attr('data-window') === type) {
                $(this).addClass('selected');
            } else {
                $(this).removeClass('selected');
            }
        });
    });

    $(document).ready(function () {
        let sessionEstablished = $('#sessionEstablished').text();
        if (sessionEstablished !== 'true') {
            return;
        }

        enableHover('#chartTimelineContainer .btn');

        if (!{{bpGoalUpdated}}) {
            $('#currentBPGoal').attr('title', '140/90 is default. Update your BP goal only if you\'ve discussed a different goal with your care team.');
        }

        loadChart();

        loadMedications(function(meds) {
            window.meds = meds;
            populateMedications();
        });

        loadAdverseEvents(function(adverseEvents) {
            window.adverseEvents = adverseEvents;
            populateAdverseEvents();
        });

        getRecommendations(function(container, cards) {
            if (cards) {
                let html = renderCards(cards);
                if (html === '') {
                    $(container).closest('.recommendation').addClass('hidden');

                } else {
                    $(container).html(html);
                    $(container).find('.bpGoal input.systolic').inputmask({
                        regex: "1?[0-9]{2}"
                    });
                    $(container).find('.bpGoal input.diastolic').inputmask({
                        regex: "1?[0-9]{2}"
                    });
                }
            }
        });
    });

    $(document).on('click', '#omronAuthLink', function() {
        let target = $('#omronAuthLink').attr('data-target');
        window.open(target, "_self");
    });

    {{#showClearSupplementalData}}
    $(document).on('click', '#clearSupplementalData', function() {
        doClearSupplementalData(function() {
            doRefresh(function() {   // only performed on success
                window.location.href = "/";
            });
        });
    });
    {{/showClearSupplementalData}}
</script>


{{>layout/footer}}