<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logged out due to inactivity</title>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            sessionStorage.clear(); // clear the browser session just in case there's anything there
        });
    </script>
</head>
<body style="font-size:1.5em;">
    You have been logged out due to inactivity.  Please close this browser window to ensure all local data is removed and session state cleared.
</body>
</html>