{{#layout}}
    {{#title}}Test Index Page{{/title}}
    {{#headers}}
        <!-- chartjs - see: https://www.chartjs.org/docs/latest/getting-started/installation.html -->
        <!-- chartjs-plugin-annotation - see: https://github.com/chartjs/chartjs-plugin-annotation -->
        <script type="text/javascript" src="node_modules/regression/dist/regression.js"></script>
        <script type="text/javascript" src="node_modules/moment/moment.js"></script>
        <script type="text/javascript" src="node_modules/chart.js/dist/Chart.bundle.js"></script>
        <script type="text/javascript" src="node_modules/chartjs-plugin-annotation/chartjs-plugin-annotation.js"></script>

        <script type="text/javascript" src="js/recommendations.js"></script>
        <script type="text/javascript">
            function loadBPData(_callback) {
                $.ajax({
                    "url": "/patient/bpList",
                    "type": "GET",
                    "dataType": "json",
                    "contentType": "application/json; charset=utf-8",
                    "success": function (bpdata) {
                        bpdata.forEach(function(item) {
                            item.timestamp = new Date(item.timestamp);
                        });

                        bpdata.sort(function (a, b) {
                            return a.timestamp - b.timestamp;
                        });

                        _callback(bpdata);
                    }
                });
            }

            $(document).ready(function () {
                loadBPData(function(bpdata) {
                    window.bpdata = bpdata;
                    populateSummaryDiv();
                    buildChart();
                    buildChartSlider();
                });

                populateRecommendations(function() {
                    $('#loadingRecommendations').addClass('hidden');
                    $('#recommendations').removeClass('hidden');
                });
            });
        </script>
    {{/headers}}
    {{#menuItems}}
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    {{/menuItems}}
    {{#content}}
        <div id="header">
            <a href="{{patient.id}}">{{patient.name}}</a>
        </div>
        <div id="textInfoContainer">
            <div id="textInfo">
                <div id="summaryDiv"></div>
            </div>
        </div>
        <div id="chartContainer">
            <div id="loadingChart">Loading Chart ...</div>
            <canvas id="chart" class="hidden" width="800" height="400"></canvas>
            <div id="sliderContainer">
                <input type="text" id="sliderRangeFrom" readonly size="4"/>
                <div style="width: 10px;"></div>
                <div id="chartRangeSlider"></div>
                <div style="width: 10px;"></div>
                <input type="text" id="sliderRangeTo" readonly size="4"/>
            </div>
        </div>
        <div id="recommendationsContainer">
            <div id="loadingRecommendations">Loading Recommendations ...</div>
            <div id="recommendations" class="hidden">
                <select id="recommendationsSelect" onchange="recommendationChanged();">
                </select>
                <input id="executeRecommendationButton" type="button" value="Execute Recommendation"
                       onclick="executeSelectedRecommendation2();" disabled/>
            </div>
            <div id="recommendationInfo">
            </div>
            <div id="cards">
            </div>
        </div>
    {{/content}}
{{/layout}}