{{#layout}}
    {{#title}}Hypertension U18 App - Main{{/title}}
    {{#head}}
        <!-- chartjs - see: https://www.chartjs.org/docs/latest/getting-started/installation.html -->
        <!-- chartjs-plugin-annotation - see: https://github.com/chartjs/chartjs-plugin-annotation -->
        <script type="text/javascript" src="node_modules/regression/dist/regression.js"></script>
        <script type="text/javascript" src="node_modules/chart.js/dist/Chart.js"></script>
        <script type="text/javascript" src="node_modules/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.js"></script>
        <script type="text/javascript" src="node_modules/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.js"></script>

        <!-- https://www.npmjs.com/package/inputmask -->
        <script type="text/javascript" src="node_modules/inputmask/dist/jquery.inputmask.js"></script>
        <script type="text/javascript" src="node_modules/inputmask/dist/bindings/inputmask.binding.js"></script>

        <link rel="stylesheet" href="css/index.css"/>
        <script type="text/javascript" src="js/index.js"></script>

        <link rel="stylesheet" href="css/recommendations.css"/>
        <script type="text/javascript" src="js/recommendations.js"></script>

        <script type="text/javascript">
            $(document).on('click', '#adjustTimeline2M', function() {
                let startDate = new Date();
                startDate.setMonth(startDate.getMonth() - 2);
                startDate.setHours(0, 0, 0);
                let truncatedData = truncateData(window.bpdata, startDate);

                let endDate = new Date();
                endDate.setHours(23, 59, 59);

                updateChart(truncatedData, startDate, endDate);
            });

            $(document).on('click', '#adjustTimeline2Y', function() {
                let startDate = new Date();
                startDate.setFullYear(startDate.getFullYear() - 2);
                startDate.setHours(0, 0, 0);
                let truncatedData = truncateData(window.bpdata, startDate);

                let endDate = new Date();
                endDate.setHours(23, 59, 59);

                updateChart(truncatedData, startDate, endDate);
            });

            $(document).on('click', '#adjustTimelineAll', function() {
                updateChart(window.bpdata);
            });

            $(document).ready(function () {
                enableHover('#chartTimelineContainer .button');

                loadBloodPressureObservations(function(bpdata) {
                    window.bpdata = bpdata;
                    populateSummaryDiv();
                    buildChart(window.bpdata);
                    // buildChartSlider();
                });

                loadMedications(function(meds) {
                    window.meds = meds;
                    populateMedications();
                });

                getCachedRecommendations(function(container, cards) {
                    if (cards) {
                        $(container).html(renderCards(cards));
                        $(container).find('.bpGoal input.systolic').inputmask({
                            regex: "1?[0-9]{2}"
                        });
                        $(container).find('.bpGoal input.diastolic').inputmask({
                            regex: "1?[0-9]{2}"
                        });
                        $(container).find('input.madlibResponse[data-type="number"]').inputmask({
                            regex: "[1-9][0-9]{0,5}"
                        });
                    }
                });
            });
        </script>
    {{/head}}
    {{#menuItems}}
        <li class="selected"><a href="/">Patient Portal</a></li>
        <li><a href="/goals">My Goals</a></li>
        <li><a href="/bp-readings">Home BP Readings</a></li>
        <li><a href="/preferences">My Preferences</a></li>
        <li><a href="/feedback">Provider Feedback</a></li>
    {{/menuItems}}
    {{#content}}
        <table class="content">
            <tr>
                <td id="patientInfo">
                    <table style="margin-left: 50px">
                        <tr>
                            <td rowspan="2">
                                <span class="circle" style="background-color: #b3fff0">&nbsp;</span>
                            </td>
                            <td colspan="2">
                                <span style="font-size: x-large">{{patient.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{patient.age}} years</td>
                            <td>{{patient.gender}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table class="content">
            <tr>
                <td class="heading">
                    High Blood Pressure Control
                </td>
            </tr>
            <tr>
                <td id="highBPControlContainer">
                    <table width="100%">
                        <tr>
                            <td width="200" style="vertical-align: top">
                                <span style="font-weight: bold; white-space: nowrap">Your blood pressure:</span>
                                <br/>
                                <div style="margin-top: 60px">
                                    <table align="center">
                                        <tr>
                                            <td colspan="3">
                                                <span id="bpLabel"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3">
                                                <span id="bpIcon" class="circle"></span>
                                            </td>
                                            <td id="avgSystolic" align="center">X</td>
                                            <td style="vertical-align: bottom; font-size: small">systolic</td>
                                        </tr>
                                        <tr>
                                            <td width="50"><hr/></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td id="avgDiastolic" align="center">Y</td>
                                            <td style="vertical-align: top; font-size: small">diastolic</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td width="500">
                                <div id="chartContainer">
                                    <div id="loadingChart">Loading Chart ...</div>
                                    <div id="chartKeyContainer" class="hidden">
                                        <span class="heading">Key</span>
                                        <div class="chartKeyItem">
                                            <span id="chartKeyHomeBP"></span>
                                            <label for="chartKeyHomeBP">Home BP</label>
                                        </div>
                                        <div class="chartKeyItem">
                                            <span id="chartKeyOfficeBP"></span>
                                            <label for="chartKeyOfficeBP">Office BP</label>
                                        </div>
                                        <div class="chartKeyItem">
                                            <span id="chartKeySystolic"></span>
                                            <label for="chartKeySystolic">Systolic BP</label>
                                        </div>
                                        <div class="chartKeyItem">
                                            <span id="chartKeyDiastolic"></span>
                                            <label for="chartKeyDiastolic">Diastolic BP</label>
                                        </div>
                                    </div>
                                    <div id="chartTimelineContainer" class="hidden">
                                        <span class="heading">Timeline</span>
                                        <span id="adjustTimeline2M" class="button">2 months</span>
                                        <span id="adjustTimeline2Y" class="button">2 years</span>
                                        <span id="adjustTimelineAll" class="button">All</span>
                                    </div>
                                    <canvas id="chart" class="hidden" width="700" height=250"></canvas>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <span id="goalNote">
                        Your GOAL: <em><strong>Below 130/80 (<u>American Heart Association</u>);</strong> Other goals might be</em> 140/90 (<u>European Society of Hypertension</u>)
                    </span>
                </td>
            </tr>
            <tr>
                <td class="heading">
                    Recommendations
                </td>
            </tr>
            <tr>
                <td id="recommendationsContainer">
                    {{#cdshooks}}
                        <div class="recommendation" data-id="{{id}}">
                            <div class="heading">{{title}}</div>
                            {{#description}}
                                <div class="description">{{description}}</div>
                            {{/description}}
                            <div class="cardsContainer">
                                Loading... (queue position: {{queuePosition}})
                            </div>
                        </div>
                    {{/cdshooks}}
                </td>
            </tr>
        </table>
    {{/content}}
{{/layout}}