<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="js/jquery-ui-1.12.1/jquery-ui.css"/>

    <!-- chartjs - see: https://www.chartjs.org/docs/latest/getting-started/installation.html -->
    <!-- chartjs-plugin-annotation - see: https://github.com/chartjs/chartjs-plugin-annotation -->
    <script type="text/javascript" src="node_modules/regression/dist/regression.js"></script>
    <script type="text/javascript" src="node_modules/moment/moment.js"></script>
    <script type="text/javascript" src="node_modules/chart.js/dist/Chart.bundle.js"></script>
    <script type="text/javascript" src="node_modules/chartjs-plugin-annotation/chartjs-plugin-annotation.js"></script>

    <link rel="stylesheet" href="css/app.css"/>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/app-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            enableHover('.tab');
            $(document).on('click', '#tabs .tab', function () {
                markTabSelected(this);
                renderSelectedTabDiv();
            });

            fetchBloodPressureData(function(observations, data) {
                $('#loadingTextInfo').addClass('hidden');
                $('#textInfo').removeClass('hidden');
                populateSummaryDiv(data, document.getElementById("summaryDiv"));
                populateBPList(data, document.getElementById('bpList'));

                $('#loadingChart').addClass('hidden');
                $('#chart').removeClass('hidden');
                window.chartData = data;
                buildChart(data);
                buildChartSlider(data);
            });

            populatePlanDefinitions(function() {
                $('#loadingHooks').addClass('hidden');
                $('#hooks').removeClass('hidden');
            });
        });
    </script>
</head>
<body>
<div id="content">
    <div id="header">
        Blood Pressure readings for {{patient.name}}

        <ul>
            {{#bp}}
                <li>{{systolic.value}} / {{diastolic.value}}</li>
            {{/bp}}
        </ul>
    </div>
</div>
</body>
</html>