<!DOCTYPE html>
<html lang="en">
{{#permitLoadLocal}}
    <head>
        <meta charset="UTF-8">
        <title>{{applicationName}} - Load Local Patient</title>
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript">
            const REDIRECT_URL = "/";

            function prepareSession(bundleName, audience) {
                let data = {
                    bundleName: bundleName,
                    audience: audience
                };

                // alert("useful development breakpoint");

                $.ajax({
                    method: "POST",
                    url: "/prepare-local-session",
                    data: data
                }).done(function(cards, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        $('body').html("Handshake completed, redirecting ...<br/>If you are not redirected, please <a href='" + REDIRECT_URL + "'>click here</a>.")
                        window.location.href = REDIRECT_URL;

                    } else {
                        $('body').html("Error - received response " + response.status + " status");
                    }
                });
            }

            $(document).on('click', '#launchButton', function() {
                let bundleName = $('#bundleName').val();
                let audience = $('#audience').val();
                prepareSession(bundleName, audience);
            });

            $(document).on('change', '#bundleName', function() {
                $('#launchButton').prop('disabled', $(this).val() === '');
            });
        </script>
    </head>
    <body>
    <h1>Configure your local launch scenario</h1>
    Bundle:
    <select id="bundleName">
        <option value="">-- Select a Local Bundle --</option>
        {{#bundleItems}}
            <option value="{{.}}">{{.}}</option>
        {{/bundleItems}}
    </select>
    Audience:
    <select id="audience">
        <option value="patient" selected>Patient</option>
        <option value="careTeam">Care Team</option>
    </select>
    <input id="launchButton" type="button" value="Launch Detached" disabled />
    </body>
{{/permitLoadLocal}}
{{^permitLoadLocal}}
    <head>
        <meta charset="UTF-8">
        <title>{{applicationName}} - Operation Not Supported</title>
    </head>
    <body>
        This operation is not currently supported.
    </body>
{{/permitLoadLocal}}
</html>