<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{{layout.title}}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="js/jquery-ui-1.12.1/jquery-ui.css"/>

    <script type="text/javascript" src="js/htnu18app.js"></script>
    <link rel="stylesheet" href="css/htnu18app.css"/>
    <link rel="stylesheet" href="css/layout.css"/>

    <script type="text/javascript">
        $(document).ready(function() {
            enableHover('#menu li');
        });
    </script>

    {{{layout.head}}}
</head>
<body>
<div id="menu">
    <div id="topLeftEmptyBlock"></div>
    <ul style="margin-top: 80px">
        {{{layout.menuItems}}}
    </ul>
</div>
<div id="content">
    {{{layout.content}}}
</div>
</body>
</html>