<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{{layout.title}}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="js/jquery-ui-1.12.1/jquery-ui.css"/>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/app-ui.js"></script>
    <link rel="stylesheet" href="css/app.css"/>

    {{{layout.head}}}
</head>
<body>
<div id="menu">
    <ul>
        {{{layout.menuItems}}}
    </ul>
</div>
<div id="header">
    {{{layout.patientInfo}}}
</div>
<div id="content">
    {{{layout.content}}}
</div>
</body>
</html>