<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{{layout.title}}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/jquery-ui-dist/jquery-ui.js"></script>
    <link rel="stylesheet" href="/node_modules/jquery-ui-dist/jquery-ui.css"/>

    <script type="text/javascript" src="/js/coach.js"></script>
    <link rel="stylesheet" href="/css/coach.css"/>
    <script type="text/javascript" src="/js/layout.js"></script>
    <link rel="stylesheet" href="/css/layout.css"/>

    <script type="text/javascript">
        $(document).ready(function() {
            enableHover('#menu li');
        });

        $(document).on('click', '#refresh', function() {
            doRefresh(function(msg) {
                window.location.href = "/";
            })
        });
    </script>

    {{{layout.head}}}
</head>
<body>
<div id="menu">
    <div id="topLeftBlock">
        <div class="title">COACH</div>
    </div>
    <ul style="margin-top: 80px">
        {{{layout.menuItems}}}
    </ul>
</div>
<div id="refreshContainer">
    <span id="refresh" class="link">Refresh<span>
</div>
<div id="logoutContainer">
    <a href="/logout">Logout</a>
</div>
<div id="content">
    {{{layout.content}}}
</div>
</body>
</html>