<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logged out</title>
</head>
<body>
    Logout successful.  Please close this browser window to ensure all local data is removed and session state cleared.
</body>
</html>