{{>layout/header}}

<div class="container">
    <div class="px-2 fs-4">
    <i class="fas fa-user color-primary"></i></i>&nbsp;<strong>{{patient.name}}</strong> - {{patient.age}} years {{patient.gender}}
    </div>
    <div class="mt-3">
        <h4 class="p-2 bgd-secondary">
            <i class="fas fa-prescription-bottle-alt color-primary"></i> My Antihypertensive Medications
        </h4>
        <table class="table table-bordered table-condensed table-striped table-responsive">
            <thead class="bgd-primary text-white">
                <tr>
                    <th>Name</th>
                    <th>Reason</th>
                    <th>Dose</th>
                    <th>Prescribing Clinician</th>
                    <th>Issues</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {{#antihypertensiveMedications}}
                    <tr class='medication' data-system="{{#system}}{{system}}{{/system}}" data-code="{{#code}}{{code}}{{/code}}">
                        <td>{{description}}</td>
                        <td>{{#reason}}{{reason}}{{/reason}}</td>
                        <td>{{#dose}}{{dose}}{{/dose}}</td>
                        <td>{{#prescribingClinician}}{{prescribingClinician}}{{/prescribingClinician}}</td>
                        <td>{{#issues}}{{issues}}{{/issues}}</td>
                        <td>{{#priority}}{{priority}}{{/priority}}</td>
                    </tr>
                {{/antihypertensiveMedications}}
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <h4 class="p-2 bgd-secondary">
            <i class="fas fa-prescription-bottle-alt color-primary"></i> My Other Medications
        </h4>
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead class="bgd-primary text-white">
                <tr>
                    <th>Name</th>
                    <th>Reason</th>
                    <th>Dose</th>
                    <th>Prescribing Clinician</th>
                    <th>Issues</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {{#otherMedications}}
                    <tr class='medication' data-system="{{#system}}{{system}}{{/system}}" data-code="{{#code}}{{code}}{{/code}}">
                        <td>{{description}}</td>
                        <td>{{#reason}}{{reason}}{{/reason}}</td>
                        <td>{{#dose}}{{dose}}{{/dose}}</td>
                        <td>{{#prescribingClinician}}{{prescribingClinician}}{{/prescribingClinician}}</td>
                        <td>{{#issues}}{{issues}}{{/issues}}</td>
                        <td>{{#priority}}{{priority}}{{/priority}}</td>
                    </tr>
                {{/otherMedications}}
            </tbody>
        </table>
    </div>

</div>

{{>layout/footer}}