<html>
<head>
    <title>{{applicationName}} - Consent Previously Denied</title>
</head>
<body>
<p>You have previously denied consent with respect to usage of the COACH system.</p>
<p>If you would like to revise your consent status, please contact the COACH team for assistance.
</body>
</html>
