<html>
<head>
    {{>fragments/css}}
    <title>{{applicationName}} - Consent Previously Denied</title>
</head>
<body>
<div class="container">
    <div class="mt-3">
        <h2>Consent Previously Denied</h2>
        <p>You have previously denied consent with respect to usage of the COACH system.</p>
        <p>If you would like to revise your consent status, please contact the COACH team for assistance.
    </div>
</div>
</body>
{{>fragments/assets}}
</html>