<html>
<head>
    {{>fragments/css}}
    <title>{{applicationName}} - Patient Not Active</title>
</head>
<body>
<div class="container">
    <div class="mt-3">
        <h2>Patient Not Active in Study</h2>
        <p>The patient you are attempting to view is not actively enrolled in the study. This may be because they have not completed the enrollment process or because they have withdrawn from or completed the study.</p>
        <p>If you believe you are seeing this message in error, you or the patient can contact the study staff at <a href="mailto:COACH-OHSU@ohsu.edu">COACH-OHSU@ohsu.edu</a>.</p>
        <p>Thank you.</p>
    </div>
</div>
</body>
{{>fragments/assets}}
</html>